# Python Basics

#### Day 1
#### Python Basics by Manish Beesetti

# Data types

Text Type:	str
Numeric Types:	int, float, complex
Sequence Types:	list, tuple, range
Mapping Type:	dict
Set Types:	set, frozenset
Boolean Type:	bool
Binary Types:	bytes, bytearray, memoryview

Numeric types

In [1]:
a = 10.0
b = 20

In [2]:

a + b

30.0

In [3]:
a -b

-10.0

In [4]:
a * b

200.0

In [5]:
a / b

0.5

In [6]:
a % b

10.0

In [7]:
pow(a,b)

1e+20

In [8]:
a**b

1e+20

In [9]:
from math import sqrt
sqrt(a)

3.1622776601683795

inserting values into a string

In [10]:
"value of a is {a} , value of b is {b}".format(a=a,b=b)

'value of a is 10.0 , value of b is 20'

In [11]:
"value of a is "+str(a)+ " , value of b is " + str(b)

'value of a is 10.0 , value of b is 20'

In [12]:
"value of a is "+a+ " , value of b is " + b

TypeError: can only concatenate str (not "float") to str

In [13]:
type(a)

float

In [14]:
type(str(a))

str

In [15]:
type(a)

float

In [16]:
global x

x = 0

def varconv(a):
    global x 
    x  = str(a)
    return x

In [17]:
varconv(a)

'10.0'

In [18]:
x

'10.0'

In [19]:
val = str(a)

# Lists

In [20]:
lisp = []

In [21]:

lisp = [3,2,4,'a',.2,'$']

In [22]:
list({2,54,7})

[2, 54, 7]

In [23]:
for i in range(len(lisp)):
    print(i)

0
1
2
3
4
5

Ptinting values at even position

In [24]:
for i in range(len(lisp)):
    if i % 2 == 0:
        print(lisp[i])

3
4
0.2

Print all the values in the lisp List which are even

requiremets : 
    1. need something to check if the value is even 
    2. something to convert characters into numbers (ASCII)
    3. something to convert them back into characters

In [25]:

# functions in python have a pretty simple syntax 

# def function_name(_parameter):
#     ------------
#     ------------
#     return value

In [28]:
# try to figure this on your own trace the code and understand why it works

<!-- functions in python have a pretty simple syntax 

def function_name(_parameter):
    -----------
    -----------
    return some_value  -->

In [29]:
lisp = [3,2,4,'a',.2,'$']
flag = 0
for el in lisp:
    
    if type(el) == str:
        el = ord(el)
        flag = 1
    if el%2 == 0:
        if flag==1:
            print(chr(el))
            flag = 0
        else:
            print(el)

2
4
$

In [30]:
lisp

[3, 2, 4, 'a', 0.2, '$']

In [35]:
# List slicing
#syntax your_list[start:stop:step]
# think of step as how big or small steps you wanna take to reach the end point specified

In [36]:
lisp[0:5:2]

[3, 4, 0.2]

In [42]:
lisp[ : : -1] # reversing a list using list slicing

['$', 0.2, 'a', 4, 2, 3]

In [ ]:
# some other list functions you wanna check out 
# list.append(x) # append x to end of list
# list.insert(i, x) # insert x at index i
# list.remove(x) # remove first occurance of x from list
# list.pop([i]) # pop element at index i (defaults to end of list)
# list.clear() # delete all elements from the list
# list.index(x[, start[, end]]) # return index of element x
# list.count(x) # return number of occurances of x in list
# list.reverse() # reverse elements of list in-place (no return)
# list.copy() # ret

In [72]:
list0 = [9,0,2,4,1]
list0.sort(key=None, reverse=False) #this does a permamnet change to the input list 
list0

list0 = [9,0,2,4,1]
print(sorted(list0)) #this reurns a sorted list 
list0

[0, 1, 2, 4, 9]

[9, 0, 2, 4, 1]

In [74]:

your_list = ['cmd1','cmd10', 'cmd111', 'cmd50', 'cmd99']
your_list.sort(key=lambda x: int(x[3:]))
print(your_list)

['cmd1', 'cmd10', 'cmd50', 'cmd99', 'cmd111']

# Tuples

A tuple is a collection of objects which ordered and immutable. Tuples are sequences, just like lists. The differences between tuples and lists are, the tuples cannot be changed unlike lists and tuples use parentheses, whereas lists use square brackets.

In [50]:
# declaration 
variable_name = () # empty tuple
variable_name = (21,34,56,78,12)
var2 = (0,0,0,0)

In [51]:
#accessing tuples 

variable_name[3]

78

Tuple operations

In [53]:
#combining two tuples 
variable_name + var2

(21, 34, 56, 78, 12, 0, 0, 0, 0)

In [54]:
# deleting tuples 
del var2

In [56]:
var2

NameError: name 'var2' is not defined

Repetition

In [59]:
('I am Batman',) * 4

('I am Batman', 'I am Batman', 'I am Batman', 'I am Batman')

Membership

In [60]:
21 in variable_name

True

In [63]:
tup1 = (2,3,4)
tup2 = (0,2,3)

max(tup1)

4

In [64]:
min(tup1)

2

In [66]:
tuple_lisp = tuple(lisp)
tuple_lisp

(3, 2, 4, 'a', 0.2, '$')

# Dictionaries

A dictionary is a collection which is unordered, changeable and indexed. In Python dictionaries are written with curly brackets, and they have keys and values.

In [75]:
# syntax

# variable_name = {} empty dictionary
# varable_name = {
    
#     key_1:value_1,
#     key_2:value_2,
#     .
#     .
#     .
#     key_n:value_n

# }

In [77]:
sample_dict = {
    'name' : 'Batman',
    'car'  : 'Batmobile',
    'Orphan': True,
    'Owns' : 'Wayne Industries',
    'Family' : 'Alfred',
}

In [79]:
# accessing values from a dictionary 

sample_dict['name']

'Batman'

In [81]:
for el in sample_dict: #accessing keys
    print(el)

name
car
Orphan
Owns
Family

In [82]:
for el in sample_dict.values():
    print(el)

Batman
Batmobile
True
Wayne Industries
Alfred

In [87]:
# printing them as key value pairs 

for el1,el2 in sample_dict.items():
    print(str(el1) + " : "+ str(el2))

name : Batman
car : Batmobile
Orphan : True
Owns : Wayne Industries
Family : Alfred

In [88]:
#checking if key exists 

'name' in  sample_dict

True

In [89]:
# length of dict obj
len(sample_dict)

5

In [93]:
#adding items into the dictionary 

sample_dict["Senpai"] =  "Ra's al Ghul" 
sample_dict

{'name': 'Batman',
 'car': 'Batmobile',
 'Orphan': True,
 'Owns': 'Wayne Industries',
 'Family': 'Alfred',
 'Senpai': "Ra's al Ghul"}

In [95]:
# removing items 

sample_dict.pop("Orphan")

True

In [96]:
#pop item removes the last entry 

sample_dict.popitem()

('Senpai', "Ra's al Ghul")

In [97]:
sample_dict

{'name': 'Batman',
 'car': 'Batmobile',
 'Owns': 'Wayne Industries',
 'Family': 'Alfred'}

In [98]:
# # copying a dictionary 

# we cannot copy anything in python as simply as d1 = d2 cause it shares a reffrence so the changes made in one dictionary will effect the other, 
# so we should use .copy() function.

dict2 = sample_dict.copy()

# Sets

In [102]:
set1 = {}
set1 = {"batman","WW", "CatWoman"}
set2 = {'flash','superman'}

set3 = set1.union(set2)

In [103]:
set3

{'CatWoman', 'WW', 'batman', 'flash', 'superman'}

In [104]:
# to check if something is there in a set 

'batman' in set3

True